.nav {

}

.nav_contents {
    display: flex;
    justify-content: space-between;
}

.nav__image {
    position: fixed;
    left: 0;
    width: 120px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.nav__avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    cursor: pointer;
}